.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: 100%;
    height: auto;
    margin: auto;
}

/* Vista 1*/
  .gool{
    position: absolute;
    top: 11%;
    left: 6%;
    right: 6%;
  }
  .el-mejor{
    position: absolute;
    top: 2%;
    left: 20%;
    right: 20%;
    text-align: center;
  }
  .participa{
    position: absolute;
    bottom: 9%;
    left: 20%;
    right: 20%;
    text-align: center;
  }
  .logo-tvs{
    position: absolute;
    top: 2%;
    right: 0;
  }
  .footer{
    position: absolute;
    bottom: 0;
    border-top: 2px solid #045887;
    height: 60px;
    width: 100%;
    background-color: #fff;
  }
  .footer p, .footer small{
    padding: 20px;
    color: #045887;
    font-weight: 500;
  }
  .footer .logo{
    padding-left: 11%;
  }

  .footer .copyright{
    padding: 20px;
  }

  .footer .copyright a{
    color: #045887;
    text-decoration: none;
  }

/* Vista 2*/
  .mecanica{
    position: absolute;
    top: 30%;
    left: 11%;
    width: 50%;
    padding-left: 0;
  }

  .mecanica p{
    color: #fff;
    font-weight: bold;
  }

  .mecanica .texto1{
    font-size: 22px;
    line-height: 1.2;
    margin-top: 10px;
    padding-left: 10px;
  }
  .mecanica .texto2{
    font-size: 16px;
    padding-left: 10px;
  }
  .mecanica .texto3{
    font-size: 20px;
    margin-left: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 10px;
  }
  .mecanica .texto4{
    font-size: 19px;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 10px;
    padding-left: 10px;
  }
  .mecanica .inicio{
      margin-top: 10%;
  }
  .mecanica .inicio a{
    color: #fff;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-decoration: none;
    font-size: 22px;
  }

  .mecanica .inicio a:focus{
    color: #fff;
    text-decoration: none;
  }

  .mecanica .inicio a img{
    margin-right: 20px;
  }

  .datos{
    position: absolute;
    top: 18%;
    right: 17%;
  }

  .caja{
    position: absolute;
    top: 30%;
    right: 0;
    background: url("../image/rectangulo.png") no-repeat;
    width: 500px;
    height: 625px;
    z-index: 3;
  }


  .datos::before{
    content:url('../image/corner1.png');
    position: absolute;
    top: 7px;
    left: 71px;
    z-index: 0;
  }

  .cornetas{
    position: absolute;
    top: -77px;
    right: -92px;
    z-index: 0;
  }

  .datos::after {
    content: url('../image/corner2.png');
    position: absolute;
    right: -66px;
    bottom: -629px;
    z-index: 0;
  }

  .formulario{
    width: 70%;
    margin: 0 auto;
  }
  .formulario .form-control{
    border-radius: 0;
    color: #05658c;
    background-color: #03345e;
    border: 1px solid #05658c;
  }

  .formulario .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #05658c;
  }

  .formulario .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #05658c;
  }

  .formulario .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #05658c;
  }

  .formulario .form-check{
    color: #fff;
  }

  .ckeck {
    background: url('../image/checkbox.png') left center no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -11px;
  }

  .ckeck.activo {
    background: url('../image/checkbox-active.png') left center no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -11px;
  }

/* Vista 3 */

  .datos2{
    position: absolute;
    top: 18%;
    right: 17%;
  }
  .datos2::before{
    content:url('../image/corner1.png');
    position: absolute;
    top: -11px;
    left: 71px;
    z-index: 0;
  }
  .datos2::after {
    content: url('../image/corner2.png');
    position: absolute;
    right: -66px;
    bottom: -648px;
    z-index: 0;
  }
