
html{
  overflow-x: hidden!important;
}
.footer{
  z-index: 10;

}
.terminos_link{
  cursor: pointer;
  color: #00823b;
}
.custom-control-label::after{
  border: 1px solid #ccc;
  border-radius: 4px;
}
.seccion3{
  position: relative;
  height: 100vh;
}
.pagina1{
  &__seccion1{
      height: 100vh;
  }
}
.webtilia{
  text-decoration: none;
  color: #fbe122;
  &:hover{
    color: #fbe122;
    text-decoration: none;
  }
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
      background-color: rgb(16, 83, 47);
}
.seccion2__formulario__form label {
    margin-top: 0px;
    position: absolute;
    top: 0;
    margin-top: 20px;
}
.seccion2__formulario__form input {
    margin-bottom: 25px;
    margin-top: 50px;
}
.custom-control-label{
  position: relative!important;
      padding-left: 40px!important;
}
.custom-control {
    padding-left: 0rem;
}
.gracias{
  height: 100vh;
  &__contenido{
    text-align: center;
    .logo{
      top: 0px;
      left: 0;
      right: 0;
      margin: auto;
    }
    &--1{
      position: relative;
      z-index: 1000;
      h2{
        color: #fbe122;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #00823b;
        font-weight: bold;
        margin-top: 20px;
      }
      &__volver{
        margin: 60px 0 100px 0px;
        a{
          font-family: 'Raleway', sans-serif;
          background: #fbe122;
          padding: 20px 60px;
          font-size: 14px;
          color: #00823b;
          font-weight: bold;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
.fullpage{
  &__home{
    background-image: url(../img/background.png);
    background-size: cover;
    height: 100%;
    &__imgAbajo{
      background-size: cover;
      background-image: url(../img/madera.png);
      width: 100%;
      background-repeat: no-repeat;
      background-position: bottom;
      top: 0;
      z-index: 0;
      height: 200px;
      position: relative;
    }
  }
}
.form-control{
  &:focus{
    border: 0!important;
    border: 1px solid #ced4da;
    box-shadow: 0 0 0 0.1rem #ced4da!important;
  }
  &:focus{
    label{
      color: #ccc;
    }
  }
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  background: #00823b;
  padding-bottom: 5px;
  border-top: 3px solid #fbe122;
  &__terminos{
    text-align: center;
    ul{
      display: inline-flex;
      list-style: none;
      padding-left: 0;
      li{
        text-decoration: underline;
        color: #fbe122;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        margin: 0 20px;
      }
    }
  }
  &__copy{
    color: #fbe122;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
  }
}
.pagina1 {
  height: 95%;
  &__contenedor{
    text-align: center;
    position: relative;
    bottom: 0%;
    z-index: 2;
    img{
      max-width:  100%;
    }
    &__logo{
      img{
        width: 200px;
      }
    }
    &__texto{
      &--2{
        padding: 10px 0 25px 0;
        img{
          width: 200px;
        }
      }
    }

    &__boton{
      position: absolute;
      bottom: 120px;
      width: 100%;
      a{
        background: #fbe122;
        color: #00823b;
        text-transform: uppercase;
        padding: 29px 58px;
        font-weight: bold;
        transition: all 0.2s ease-out;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        &:hover{
          background: #00823b;
          text-decoration: none;
          color: #fbe122;
        }
      }
    }
  }
}
.pagina2{
  &__contenedor{
    position: relative;
    width: auto;
    height: 100%;
    z-index: 2;
    text-align: center;
  }
}

.seccion2{
  position: relative;
  top: 70px;
  z-index: 10;
  height: 100vh;

  &__intro{
    text-align: center;
    h2{
      font-family: 'Milonga', cursive;
      color: #fff;
      font-size: 45px;
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.22);
      text-transform: uppercase;
    }
    h3{
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: #714919;
      margin: 0 0 10px 0px;
    }
  }
  &__formulario{
    background: #fff;
    position: relative;
    z-index: 100;
    border-radius: 5px;
    &__final{
      padding: 5px 35px;
      border-top: 1px solid #e8e8e8;
      .sorteo{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #d02129;
      }
      span{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #00823b;
      }
    }
    &__intro{
      padding: 1px 0 0 35px;
      border-bottom: 1px solid #e8e8e8;
      h3{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #714919;
        margin: 15px 0 15px 0;
      }
    }
    &__form{
      padding: 0 35px;
      label{
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        color: #202224;
        font-weight: bold;
      }
      &__enviar{
        margin-top: 10px;
        text-align: center;
        margin-bottom: 15px;
        a{
          background: #fbe122;
          padding: 10px 50px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          color: #00823b;
          border-radius: 5px;
          &:hover{
            text-decoration: none;
            background: #fff;
            color: #00823b;
            transition: all 0.2s ease-out;
          }
        }
      }
      &__atras{
        text-align: center;
        position: relative;
        padding: 10px 0px;
        a{
          font-family: 14px;
          display: block;
          font-weight: bold;
          color: #00823b;
          text-transform: uppercase;
          &:hover{
            text-decoration: none;
            color:#fbe122;
            transition: all 0.2s ease-out;
          }
        }
      }
      input{
        border:0;
        height: 40px!important;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        color: #202224;
        font-weight: 600;
        background: #f4f4f4;
        margin-bottom: 5px;
        &::placeholder {     color: rgba(204, 204, 204, 0.65); }
      }
    }
  }
}
.seccion2__formulario__form .custom-checkbox input:focus + label, .seccion2__formulario__form .custom-checkbox textarea:focus + label {
    color: #101221!important;
  }
.seccion2__formulario__form input:focus + label, .seccion2__formulario__form textarea:focus + label {
    color: #00823b;
  }
.seccion2__formulario__form input:not(:placeholder-shown){
  color: #000;
}
.custom-control label{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #101221;
  padding: 5px 0px;
}
// Custom Bootstrap
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #a51890;
}
.custom-control-label::before {
    background-color: #ece9e9;
    width: 1.5rem;
    height: 1.5rem;
}
.custom-control-label::before {
    background-color: #ece9e9;

}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #a51890;
}

.custom-control-label {
  padding-left: 5px;
  padding-top: 3px;
  font-weight: 100!important;
}
.form-control {
    padding: .2rem .75rem;
    height: auto!important;
}

.input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px);
}

.custom-control-label {
  &::before {
    background-color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
  }
  &::after {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00823b;
  border: 1px solid #fbe122;
}

.custom-control {
  padding-left: 2rem;
}
.footer {
    position: relative;
}
@media (max-width: 750px) and (max-height:750px) {
  .seccion2{
    height: 100%;
  }
  .pagina1{
    &__contenedor{
      &__boton{
        bottom: -65px;
        z-index: 5;
        a{
          font-size: 15px;
          padding: 12px;
        }
      }
    }
    &__seccion1 {
      height: 100%;
    }
  }
  .pagina2{
    &__contenedor{
      height: 100%;
      bottom: 0px!important;
      &__frase{
        width: 243px;
        position: relative;
        bottom: -25px;
      }
      &__papas{
        position: absolute;
        bottom: -192px;
        left: 0;
        width: 200px;
        z-index: 2;
      }
      &__minipelota{
        position: absolute;
        bottom: -169px;
        left: -104px;
        z-index: 1;
        width: 200px;
      }
      &__pollo{
        position: absolute;
            bottom: -210px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
            width: 219px;
      }
      &__pelota{
        position: absolute;
        bottom: -178px;
        /* left: 157px; */
        z-index: -1;
        width: 200px;
        right: 3px;

      }
      &__bolso{
        position: absolute;
            bottom: -170px;
            left: 0;
            z-index: -1;
            width: 241px;
      }
    }
  }
}
@media (max-width: 575.98px) {

  body{
    overflow:hidden;
  }
  .footer{
    position: absolute;
    bottom: 0;
  }
  .fullpage{
    &__home{
      &__imgAbajo{
        position: absolute;
        bottom: 85px;
        top: inherit;
      }
    }
  }
  #fullpage{
    height: 100vh;
  }
  .md-dialog-content{
    h2{
      font-size: 18px;
    }
  }
  .footer{
    &__terminos ul{
          display: block;
          li{
            margin: 15px 20px;
          }
    }
  }
  .fullpage{
    &__home{
      &__imgAbajo {
      }
    }
  }
  .seccion2 {

        top: 30px;
    height: auto;
    &__formulario{
      overflow: auto;
      height: 350px;
    }
    &__intro{
      h3{
        color: #f9bb70;
      }
    }
  }

.pagina1{
  &__seccion1{
    height: auto;
  }
    &__contenedor{
      height: inherit;
      &__boton{
        position: absolute;
        bottom: 0;
        width: 100%;
        top: 0;
        margin: auto;
        height: 30%;
      }
      &__texto{
        &--1{
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .pagina2{
    &__contenedor{
      height: 100vh;
      width: 100%;
      &__frase{
        position: relative;
        bottom: -45px;
        left: 0;
      }
      &__papas{
        position: absolute;
        bottom: 185px;
        left: -90px;
      }
      &__minipelota{
        position: absolute;
        bottom: 178px;
        left: -15px;
        z-index: 2;
      }
      &__pollo{
        position: absolute;
        bottom: 185px;
        left: 0;
        z-index: 1;
      }
      &__pelota{
        position: absolute;
        bottom: 210px;
        left: inherit;
        right: -65px;
        z-index: -1;
      }
      &__bolso{
        position: absolute;
        bottom: 212px;
        left: -45px;
        z-index: -1;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .pagina1{
    &__contenedor {
      bottom: 0;
    }
  }

  .pagina2{
    &__contenedor {
        bottom: -135px;
    }
    &__formulario{
      &__intro{
        h3{
          padding: 15px 0px 15px 35px;
        }
      }
    }
    &__contenedor{

    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pagina1__seccion1 {
    height: 100%;
}
  .pagina1__contenedor__logo img {
    width: 500px;
}
  .pagina1{
    &__contenedor {
      &__boton{
        top: 250px;
      }
    bottom: 0;
      &__seccion1{
        height: 100%;
      }
    }
    &__logo img {
      width: 300px;
    }
  }
.seccion2{
  top: 78px;
  &__formulario{
    &__final {
      padding: 15px 35px;
      margin-top: 25px;
    }
    &__form{
      &__enviar{
          margin-top: 25px;
        a{
          padding: 15px 60px;
        }
      }
      input{
        margin-top: 35px;
      }
      &__atras{
        padding: 24px 0px;
      }
      label{
        margin-top: 8px;
      }
    }
    &__intro {
      h3{
        padding: 0 0px;
      }
    }
  }
}
  .pagina2{
    &__formulario{
      &__intro{
        h3{
          padding: 15px 0px 15px 35px;
        }
      }
    }
    &__contenedor{
      bottom: 0px;
      height: 100vh;
      &__frase{
        position: relative;
        bottom: 0;
        left: 0;
        width: 350px;
      }
      &__papas{
        position: absolute;
        bottom: -190px;
        left: -110px;
        width: 43%;
        z-index: 1;
        width: 65%;
      }
      &__minipelota{
        position: absolute;
        bottom: -210px;
        left: 0;
        z-index: 2;
      }
      &__pollo{
        position: absolute;
        bottom: -185px;
        left: 0;
        right: 0;
        z-index: 1;
        margin: auto;
        width: 450px;
      }
      &__pelota{
        position: absolute;
        bottom: -112px;
        right: -30px;
        z-index: -1;
      }
      &__bolso{
        position: absolute;
        bottom: -180px;
        /* right: 0; */
        left: 0;
        z-index: -2;
        width: 460px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .pagina1{
    &__seccion1 {
      height: auto;
    }
  }
  .footer {
    position: relative;
  }
  .seccion2{
    top: 0px;
    height: auto;
    &__formulario{
      &__intro{
        h3{
          margin: 5px 0 5px 0;
        }
      }
    }
    &__contenedor {
      bottom: -120px;
    }
  }
  .fullpage{
    &__home{
      &__imgAbajo{
        position: relative;
        top: auto;
        height: 110px;
      }
    }
  }
  .pagina1{
    &__contenedor{
      bottom: 0px;
      &__boton{
        top: 40%;
      }
      &__logo {
        img{
          width: 300px;
        }
      }
    }
  }

  .pagina2{
    &__contenedor{
      top: 0%;
      height: 100vh;
      &__frase{
        width: 350px;
        position: relative;
        bottom: -25px;
      }
      &__papas{
        position: absolute;
        bottom: -80px;
        left: 75px;
        width: 310px;
        z-index: 1;
      }
      &__minipelota{
        position: absolute;
        bottom: -122px;
        left: 149px;
        z-index: 2;
        width: 200px;
      }
      &__pollo{
        position: absolute;
            bottom: -115px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
            width: 350px;
      }
      &__pelota{
        position: absolute;
        bottom: -126px;
        /* left: 157px; */
        z-index: 2;
        width: 200px;
        right: 152px;
      }
      &__bolso{
        position: absolute;
        bottom: -163px;
        right: 0;
        z-index: -1;
        width: 385px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {

  md-dialog {
    width: 40%;
  }
  .seccion2 {
    top: -40px;

    &__formulario{
      &__form{
         label{
           margin-top: 0;
           top: 3px;
         }
         input{
           margin-top: 25px;
         }
       }
     }
    }
  .container {
      max-width: 1700px!important;
  }
  .fullpage{
    &__home{
      background-image: url('../img/background.png');
      &__imgAbajo{
        background-size: contain;
        background-image: url(../img/madera.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 0;
        z-index: 0;
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    background: #00823b;
    padding-bottom: 5px;
    border-top: 3px solid #fbe122;
    &__terminos{
      text-align: center;
      ul{
        display: inline-flex;
        list-style: none;
        padding-left: 0;
        li{
          text-decoration: underline;
          color: #fbe122;
          font-family: 'Raleway', sans-serif;
          font-size: 12px;
          margin: 0 20px;
        }
      }
    }
    &__copy{
      color: #fbe122;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;

    }
  }
  .pagina1 {
    height: 95%;

    &__contenedor{
      bottom: 10%;
      &__logo{
        img {
          width: 45%;
        }
      }
      &__texto{
        &--2{
          padding: 10px 0 65px 0;
          img{
            width: auto;
          }
        }
      }
      &__boton{
        bottom: -295px;
        position: relative;
        z-index: 2;
        a{
          background: #fbe122;
          color: #00823b;
          text-transform: uppercase;
          padding: 29px 58px;
          font-weight: bold;
          transition: all 0.2s ease-out;
          border-radius: 5px;
          font-family: 'Raleway', sans-serif;
          font-size: 19px;
          &:hover{
            background: #00823b;
            text-decoration: none;
            color: #fbe122;
          }
        }
      }
    }
  }
  .pagina2{
    &__contenedor{
      bottom: 0;
      position: relative;
      width: 100%;
      height: 100vh;
      left: 0px;
      &__frase{
        position: relative;
        bottom: 0;
        left: 0;
        width: 350px;
      }
      &__papas{
        position: absolute;
            bottom: 104px;
            left: 14%;
            width: 400px;
      }
      &__minipelota{
        position: absolute;
        bottom: 50px;
        left: 24%;
        z-index: 2;
      }
      &__pollo{
        position: absolute;
        bottom: 115px;
        left: 0;
        right: 0;
        z-index: 1;
        margin: auto;
        width: 400px;
      }
      &__pelota{
        position: absolute;
        bottom: 65px;
        right: 19%;
        z-index: 2;
      }
      &__bolso{
        position: absolute;
        bottom: 87px;
        right: 14%;
        z-index: -2;
        width: 460px;
      }
      &__logo{
        img{
          width: auto;
        }
      }
      img{
      }
    }
  }
}

@media(min-width: 1600px){
  md-dialog {
    width: 40%;
  }
  .seccion2{
    top: -50px;
    &__intro{
      h3{
        margin: 15px 0 25px 0px;
      }
    }
    &__formulario{
      width: 70%;
      left: 0;
      right: 0;
      margin: auto;
      &__final{
        padding: 25px 35px;
      }
      &__form{
        label{
          margin-top: 0px;
          position: absolute;
          top: 0;
        }
        input{
          margin-bottom: 25px;
          margin-top: 24px;
        }
        &__atras{
          text-align: justify;
          padding: 40px 0;
        }
        &__enviar{
          text-align: justify;
          margin-bottom: 50px;
          margin-top: 40px;
          a{
            padding: 20px 75px;
          }
        }
      }
      &__intro {
        margin-bottom: 25px;
        h3 {
          margin: 25px 0 25px 0;
        }
      }
    }
  }
  .container {
      max-width: 1700px!important;
  }
  .fullpage{
    &__home{
      background-image: url('../img/background.png');
      &__imgAbajo{
        background-size: contain;
        background-image: url(../img/madera.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        top: 0;
        z-index: 0;
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    background: #00823b;
    padding-bottom: 5px;
    border-top: 3px solid #fbe122;
    &__terminos{
      text-align: center;
      ul{
        display: inline-flex;
        list-style: none;
        padding-left: 0;
        li{
          text-decoration: underline;
          color: #fbe122;
          font-family: 'Raleway', sans-serif;
          font-size: 12px;
          margin: 0 20px;
        }
      }
    }
    &__copy{
      color: #fbe122;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
    }
  }
  .pagina1 {
    height: 95%;

    &__contenedor{
      bottom: 10%;
      &__logo{
        img {
            width: auto;
        }
      }
      &__texto{
        &--2{
          padding: 10px 0 65px 0;
          img{
            width: auto;
          }
        }
      }
      &__boton{
        a{
          background: #fbe122;
          color: #00823b;
          text-transform: uppercase;
          padding: 29px 58px;
          font-weight: bold;
          transition: all 0.2s ease-out;
          border-radius: 5px;
          font-family: 'Raleway', sans-serif;
          font-size: 19px;
          &:hover{
            background: #00823b;
            text-decoration: none;
            color: #fbe122;
          }
        }
      }
    }
  }
  .pagina2{
    &__contenedor{
      position: relative;
      width: 100%;
      height: 100vh;
      &__pollo{
        bottom: 80px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &__frase{
        top: 75px;
        left: 0;
        max-width: 40%;
      }
      &__papas{
        left: 175px;
        bottom: 200px;
      }
      &__bolso{
        bottom: 70px;
        right: 20px;
        z-index: -1;

      }
      &__pelota{
        bottom: 90px;
        right: 315px;
      }
      &__minipelota{
        left: 300px;
        bottom: 100px;
        z-index: 3;
      }
      &__logo{
        img{
          width: auto;
        }
      }
      img{
        position: absolute;
      }
    }
  }
}
