

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
}

@media only screen and (min-width: 1100px) {

}

@media (min-width: 1100px) and (min-height: 800px) {

}

@media (min-width: 1200px) {

}
